.calendar > tr td {
  font-size: 1rem;
  padding: 2rem 0.8rem !important;
}
.btn-cln-apptnmnt {
  padding: 0 10px;
}
.appointment-calendar {
  overflow-x: scroll;
  scroll-behavior: smooth;
}
.d-none {
  display: none;
}
