.doctors-page {
    width: 80%;
    overflow-y: scroll;
}
.doctors-page {
    height: 100vh;
    width: 100%;
}
.doctors-page::webkiy-scrollbar {
    width: 0px;
    background-color: transparent;
}
.doctors-page::-webkit-scrollbar {
    width: 0px;
    background-color: transparent;
}
.doctors-page::-webkit-scrollbar-thumb {
    background-color: transparent;
}
tr td:nth-child(4) {
    color: var(--text-color-danger) !important;
}

.add-doctor > .add-doctor-path > a:hover {
    border-bottom: lightgray 1px solid;
}

.add-doctor > .add-doctor-path > a {
    transition: all 0.3s ease-in-out;
}
.path-active {
    border-bottom: var(--primary-color) 2px solid;
}
td, th {
    padding: 1rem;
}